@model dynamic

@{
    ViewBag.Title = "Données";
}

<div class="row">
    <div class="col-md-12">
        <h2>Données</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sorts</h2>
        <p>
            723 sorts
        </p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Index", "Feat")">
            <h2>Dons</h2>
            <p>
            </p>
        </a>
    </div>
    <div class="col-md-4">
        <h2>Monstres</h2>
        <p>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Traits</h2>
        <p>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Armes</h2>
        <p>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Armures</h2>
        <p>
        </p>
    </div>
</div>