@model HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pathfinder Db</h1>
    <p class="lead">Base de données francophone pour le jeu de rôle Pathfinder.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Plus d'infos &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Découvrir</h2>
        <p>
            Découvrez l'ensemble des données traduites et intégrées grâce à l'aide de l'éditeur français Black Book Éditions et la participation de la communauté des utilisateurs du site <a href="http://www.pathfinder-fr.org">pathfinder-fr.org</a>.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Données &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Participer</h2>
        <p>
            Rejoignez ce projet humain, regroupant de nombreux contributeurs entousiastes et à la recherche permanente de passionnés pour donner un coup de main, même ponctuel.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Inscription &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Réutiliser</h2>
        <p>
            Si vous êtes développeur, ou même simplement bidouilleur, vous pouvez télécharger les données dans plusieurs formats pour les réutiliser dans
            vos propres projets et créations.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Documentation &raquo;</a></p>
    </div>
</div>

<h2>Données</h2>
@*@foreach (var group in Model.Groups.Select((x, i) => new { Index = i, Value = x }).GroupBy(g => g.Index / 3, g => g.Value))
{
    <div class="row">
        @foreach (var item in group)
        {
            <div class="col-md-4">
                <h2>@Html.ActionLink(item.DisplayName, "Index", item.Controller)</h2>
                <p>
                    @item.Count
                </p>
            </div>
        }
    </div>
}*@