@model GearEditViewModel

@{
    ViewBag.Title = "Équipement - Nouveau";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.Partial("_Editor")
    <div class="form-group">
        <button type="submit" name="SubmitAction" value="Save" class="btn btn-default">Enregistrer</button>
        <button type="submit" name="SubmitAction" value="SaveAndNew" class="btn">Enregistrer et Nouveau</button>
    </div>
}